<div class="global-background">
  <div class="row pl-30 pr-30 text-left">
    
    <img src="assets/images/JohnGetz.png" 
      style="border-radius: 50%; margin-left: auto; margin-right: auto" 
      class="img-circle mt-15" alt="Cinque Terre" width="304" height="236"/>

      <br/>
      <br/>
      
      <div class="mb-15 mt-15">
        <div class="text-center page-title extra-large-font mt-15 mb-15">John Getz, Psy.D</div>

        <div class="mb-15">
            <strong class="medium-font page-subtitle">Introduction</strong><br/>
            John Getz, Psy.D joined the staff at My Psychiatrist in 2015. Prior to his work here, 
            he was on the faculty at Penn State University College of Medicine in the Department of 
            Psychiatry. He is a clinical psychologist with over 25 years’ experience in the psychology 
            field. In addition to his teaching responsibilities at Penn State’s Medical College, 
            Dr. Getz treated patients on the child and adult inpatient psychiatric wards. 
            He also worked in the Adult Specialty clinics where he gained expertise in working with 
            clients who have anxiety, depression, bipolar illness, eating disorders, insomnia, and 
            sexual dysfunctions. Dr. Getz participated in opening the outpatient psychiatric clinic at 
            Penn State and while he was there, he created an ADHD clinic, which provided extensive 
            services for adults, children and adolescents who have ADHD. These services included 
            providing extensive psychoeducational testing to determine if the patients met the criteria 
            for a diagnosis of ADHD. This clinic was a teaching venue for medical students, psychiatric 
            residents, and psychology interns. Dr. Getz was also part of the surgical weight loss team 
            at Penn State and he provided diverse psychological services to those patients discerning 
            the bariatric surgery process. He has extensive experience conducting psychotherapy groups 
            and had an ongoing outpatient therapy group for anxiety patients that was of 7 years’ 
            duration. 
            <br/><br/>
            Dr. Getz has done research and has special interests in anxiety, insomnia and 
            childhood trauma. He was a contributing author to a text on projective drawings with a 
            Canadian colleague and did a cross-cultural study of the effects of trauma using drawings 
            completed by Tibetan child refugees and children form the Central PA area. Dr. Getz also has 
            administrative experience; he worked for the head of the Psychology department at the 
            Catholic University of America. While there, he worked with troubled youth and it was in 
            this setting that he mastered his psycho- diagnostic testing skills. He especially enjoys 
            utilizing projective testing, especially the Rorschach inkblot technique, to diagnose 
            patients and to aid in treatment planning. He utilizes eclectic therapy techniques and, is 
            trained to provide cognitive-behavioral therapy. At My Psychiatrist Dr. Getz provided 
            individual therapy for children, adolescents and adults. He also can provided comprehensive 
            psychological assesses.

        </div>

</div>