<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="global-background">
<div class="row">

		<div class="col-lg-4 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="assets/images/madan_uprety.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">Madan Uprety, MD</a>
                    </div>
                    <div class="desc">Physiatrist</div>
                    <div class="desc">Entrepreneur</div>
                    <div class="desc">Tech geek</div> 
                    <a [routerLink]="['/madan-uprety']" class="link-text">More Info</a>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" 
                        href="https://twitter.com/hashtag/mypsychiatrist?src=hash"
                        target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/118321604539132872365"
                       target="_blank">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://www.facebook.com/mypsychiatrist"
                       target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
            </div>

        </div>

        <div class="col-lg-4 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="assets/images/DrCunha.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">Astrid Cunha, Phd</a>
                    </div>
                    <div class="desc">Psychologist</div>
                    <a [routerLink]="['/astrid-cunha']" class="link-text">More Info</a>
                </div>
            </div>

        </div>


        <div class="col-lg-4 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="assets/images/EmilyAnnOzgul.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">Emily AA Ozgul, MS LPC</a>
                    </div>
                    <div class="desc">LPC</div>
                    <a [routerLink]="['/emily-ozgul']" class="link-text">More Info</a>
                    
                </div>
            </div>

        </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="assets/images/JohnGetz.png">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">John Getz, P.H.D</a>
                    </div>
                    <div class="desc">Psychologist</div>
                    <a [routerLink]="['/john-getz']" class="link-text">More Info</a>
                </div>

            </div>

        </div>

        <div class="col-lg-4 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="assets/images/PatriciaDean.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">Patricia</a>
                    </div>
                    <div class="desc">LCSW</div>
                    <a [routerLink]="['/patricia']" class="link-text">More Info</a>
                </div>
            </div>

        </div>

        <div class="col-lg-4 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="assets/images/RaufDean.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">Rauf Dean, NP</a>
                    </div>
                    <div class="desc">Nurse Practitioner</div>
                    <a [routerLink]="['/rauf-dean']" class="link-text">More Info</a>
                </div>
            </div>

        </div>

        <div class="col-lg-4 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="assets/images/doctor.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">Samina Raja, MD</a>
                    </div>
                    <div class="desc">Physiatrist</div>
                    <a [routerLink]="['/samina-raja']" class="link-text">More Info</a>
                </div>
            </div>
        </div>


  </div>
</div>




