<div class="global-background">
  <div class="row pl-30 pr-30 text-left">
    
    <img src="assets/images/doctor.jpg" 
      style="border-radius: 50%; margin-left: auto; margin-right: auto" 
      class="img-circle mt-15" alt="Cinque Terre" width="304" height="236"/>

      <br/>
      <br/>
        
      <div class="mb-15 mt-15">
        <div class="text-center page-title extra-large-font mt-15 mb-15">Samina Raja, MD</div>

        <div class="mb-15">
            <strong class="medium-font page-subtitle">Introduction</strong><br/>
            Samina Raja, MD is a native of northern Virginia and has had a lifelong interest in the 
            very enigmatic aspects of the human mind, body, and behavior.  Psychiatry, therefore, was 
            a natural choice of specialty.  She is equally fascinated by the fields of mathematics, 
            chemistry, and microbiology.  
            
            <br/><strong class="medium-font page-subtitle">Education</strong><br/>
            After graduating salutatorian from Chantilly High School, 
            Dr. Raja obtained her Bachelor of Science in chemistry with specialization in biochemistry 
            from the University of Virginia.  Prior to matriculating at St. George’s University Medical 
            School, she studied human gross anatomy from Georgetown University’s Summer Medical Institute 
            program.  Dr. Raja completed her residency training from Rutgers University—New Jersey Medical 
            School.  
            
            <br/><strong class="medium-font page-subtitle">Experience</strong><br/>
            She is co-editor of “Mastering the Psychiatric Diagnoses:  Three Practice Exams for 
            Novices and Experts.”  Following residency, she completed a geriatric psychiatry fellowship 
            from Duke University in Durham, North Carolina.  Dr. Raja’s experience includes working as an 
            outpatient adult psychiatrist for the INOVA health system.  Her professional interests include 
            stress management strategies, anxiety, post-traumatic stress, and depressive disorders.  
        </div>

</div>