<div class="global-background">
  <div class="row pl-30 pr-30 text-left">
    
    <img src="assets/images/EmilyAnnOzgul.jpg" 
      style="border-radius: 50%; margin-left: auto; margin-right: auto" 
      class="img-circle mt-15" alt="Cinque Terre" width="304" height="236"/>

      <br/>
      <br/>
      
      <div class="mb-15 mt-15">
        <div class="text-center page-title extra-large-font mt-15 mb-15">Emily Ann Ozgul, MS LPC</div>

        <div class="mb-15">
            <strong class="medium-font page-subtitle">Introduction</strong><br/>
            Emily Ann Ozgul, MS LPC graduated with a Master’s Degree in Agency Counseling from the 
            University of Nebraska at Omaha in 1992.  She has been a member of the National Board of 
            Certified Counselor’s since 1993.  She is a Licensed Professional Therapist in Virginia.
            She has experience in providing therapeutic services to children, adolescents, families and 
            adults presenting with a wide range of mental health and behavioral disorders. She has 
            advanced training in CBT (Cognitive Behavioral Therapy) which focuses on the clients’ 
            strengths.   She also has training in EMDR (Eye Movement Desentization Reprocessing Therapy) 
            for those who are struggling with trauma.  She also has several years of experience as a school 
            counselor.
            <br/>
            She has been a military wife for more than 19 years.  She has lived in several states and two 
            foreign countries. She enjoys the challenges and experiences the military life-style has given 
            her. She is married and has three adult sons.
        </div>
</div>