<div class="global-background">
  <div class="row pl-30 pr-30 text-left">
    
    <img src="assets/images/PatriciaDean.jpg" 
      style="border-radius: 50%; margin-left: auto; margin-right: auto" 
      class="img-circle mt-15" alt="Cinque Terre" width="304" height="236"/>

      <br/>
      <br/>
      
      <div class="mb-15 mt-15">
        <div class="text-center page-title extra-large-font mt-15 mb-15">Paticia</div>

        <div class="mb-15">
            <strong class="medium-font page-subtitle">Introduction</strong><br/>
            Patricia is a Licensed Clinical Social Worker (LCSW) with an office located in Reston, VA. 
            She works with children, young adults, and individuals using an approach tailored to the 
            individual needs of each new client. Areas of expertise include <br/>
            - Trauma <br/>
            - Anxiety and depression <br/> 
            - Relationship challenges <br/>
            
            <br/>

            Patricia specializes in the treatment of trauma using EMDR and TF-CBT.  
            She offers treatment for people experiencing the effects of childhood sexual, physical, 
            and emotional abuse. She also works with people experiencing complex posttraumatic and 
            dissociative conditions. 

        </div>
</div>