<div class="global-background">

    <br/>
  <div class="row">
    <div class="col-sm-8 text-left">
           
      <div class="mb-15 pl-15 pr-15 text-left">
        <h1>Medication Refill Policy</h1> 
        Due to the necessity for communication on many levels, refilling medications through pharmacies can 
        be a frustrating experience for both patients and staff. It is of the utmost concern to us that we 
        refill your medications in a timely manner.
      </div>

      <div class="mb-15 pl-15 pr-15 text-left">
        It is our policy to give enough medication and refill until next appointment. It is patient's 
        responsibility to remain current with their appointment schedule in order to obtain enough medication 
        on time. To minimize errors and for your safety, we discourage medication refills in between scheduled 
        appointments.
      </div>

      <div class="mb-15 pl-15 pr-15 text-left">
        If you must obtain a medication refill before your next appointment, we suggest that you call your 
        pharmacy at least three business days before you expect to run out of medications and ask the pharmacy 
        to fax us a medication refill request. Our clinician will refill your medication only enough to cover 
        until next appointment. We expect to have a standing appointment in near future before providing 
        medication refill.
      </div>

      <div class="mb-15 pl-15 pr-15 text-left">
        We do not, as a rule, prescribe stimulants, benzodiazepines and other controlled medications without 
        evaluating patient in the office. We will need a police report if you ask for a medication refill 
        request for controlled medication due to a medication or prescription loss.
      </div>

      <div class="pl-15 pr-15 text-left">
        Our clinicians reserve the right to refuse refilling any medication if they believe it is clinically 
        necessary to evaluate the patient before prescribing medication.
      </div>

    </div>

    <div class="col-sm-4">
      <app-side-notice></app-side-notice>
    </div>
  </div>
      
    <br/>

</div>
