<div class="global-background">

    <br/>
  <div class="row">
    <div class="col-sm-8 text-left">
      <div class="text-left pl-15">

        <h1>Financial Policy</h1>
        <br>
        We are committed to meeting your healthcare needs. Our goal is to provide quality service while keeping your insurance or other financial arrangements as simple as possible. Your insurance is a contract between you, your employer, and the insurance company. We are not a party to that contract. As medical care providers, our relationship is with you, not your insurance company.<br>
        <br>
        Not all services we provide are covered by your insurance company. Some insurance companies arbitrarily select certain services they will not cover. While filing of the insurance claims is a courtesy that we extend to patients, <strong>all charges are your responsibility</strong> from the date the services are rendered.<br>
        <br>
        My Psychiatrist will file claim and attempt to collect from your insurance company. <strong>It may become necessary for you to pay your account in full if your insurance company fails to pay for services within 60 days.</strong> It is your responsibility to understand your coverage and benefits, including pre-certifications, referral and authorization requirements. We will, however, assist you to ensure that all plan requirements are met. You will be ultimately responsible to pay the balances.<br>
        <br>
        If your insurance coverage or your insurance carrier changes and you do not notify My Psychiatrists within 30 days of that change, you will be responsible to pay full the amount for your service.<br>
        <br>
        Payment for services, including co-payment and deductible amounts, is due at the time services are rendered unless payment arrangements have been approved in advance by our staff. Our failure to collect these amounts may be a violation of our contract with your insurance company and may result in civil and criminal penalties and/or expulsion from your insurance plan. In addition, your failure to pay the required co-amounts is a violation of your financial responsibility for coverage and we may report your refusal to pay these amounts to your employer and/or insurance company representative.<br>
        <br>
        If your plan requires a referral from your primary care physician we will try to obtain one for you but you are ultimately responsible for knowing if we have received a referral or not. If we do not receive a referral from your primary care physician we will have to bill you for the visit.<br>
        <br>
        We will try to obtain prior authorization for you but <strong>you are ultimately responsible for knowing if we have received such prior authorization or not.</strong> If your insurance company fails to pay us for our services due to failure to obtain prior authorization, we will have to bill for the visit.<br>
        <br>
        Our office charges <strong>$35 for a returned check.</strong> My Psychiatrist has a "One Bad Check" Policy. If your account has one returned check then you will not be allowed to write checks for future services.<br>
        <br>
        We will mail you a monthly statement for any outstanding balance. If your insurance carrier has not paid the claim within 30 days for the date of service, PLEASE contact your carrier and assist us in getting the claim paid.<br>
        <br>
        We will try our best to assist you any way possible with your bills. Any balance that is over 90 days may be transferred to an outside collections agency for credit reporting. A patient that has been placed in collections must pay any prior balance owed to the practice and the COLLECTIONS AGENCY FEE and any attorney fees in cash.<br>
        <br>
        Ancillary services, which are all services not part of an initial assessment (including exchange of information with other clinician) performed by the physician, psychologist, social worker, nurse practitioner, or therapist at My Psychiatrist that are provided during non-appointment times will be billed at the provider-specific hourly rate. Typically these services are not covered by insurance companies.<br>
        &nbsp;
      </div>

    </div>

    <div class="col-sm-4">
      <app-side-notice></app-side-notice>
    </div>
  </div>
      
    <br/>

</div>
