<div class="global-background">
  <div class="row pl-30 pr-30 text-left">
    
    <img src="assets/images/DrCunha.jpg" 
      style="border-radius: 50%; margin-left: auto; margin-right: auto" 
      class="img-circle mt-15" alt="Cinque Terre" width="304" height="236"/>

      <br/>
      <br/>
      
      <div class="mb-15 mt-15">
        <div class="text-center page-title extra-large-font mt-15 mb-15">Astrid D’Cunha, Phd</div>

        <div class="mb-15">
            <strong class="medium-font page-subtitle">Introduction</strong><br/>
            Astrid D’Cunha, Phd is a licensed psychologist with experience in individual, family, and 
            group therapy for issues such as depression, anxiety, and stress. She also provides behavior 
            modification and parent management training and has a special interest in addressing the 
            impact of career, immigration, and cultural, racial, gender, spiritual, and sexual identities, 
            on mental health.
            <br/>
            Dr. D’Cunha’s approach is integrated and consists of cognitive-behavioral, interpersonal, 
            and solution-focused techniques. She believes in empowering clients to be active in their 
            treatment by improving knowledge about mental illness and its treatment. Dr. D’Cunha also 
            provides psychological testing for questions related to ADHD and diagnostic clarification of 
            other symptoms.



        </div>
</div>