<div class="container">
            <div class="row">
                <div class="col-md-12 pl-0 pr-0">
                    <div class="card global-background">
                        <div class="text-white text-center d-flex align-items-center"
                            style="margin-bottom: 0 !important; padding-bottom: 0 !important;">
                            <div style="margin-left: auto; margin-right: auto; color: black">
                                <h1 class="card-title pt-3 mb-5 font-bold page-title">
                                  <strong>What to expect?</strong>
                                </h1>

                                <ul class="text-left">
                                    <li>Insurance information: Appointments with Licensed psychologist for psychological testing are made 
                                        only after verifying with your insurance to get authorization approval.
                                    </li>
                                    <li>
                                        Approval process might 
                                        take 3-7 business days or longer depending on your insurance and the length of testing hour 
                                        session for the testing.
                                    </li>
                                    <li>
                                        Once authorization is approved we will contact you to schedule an 
                                        appointment.
                                    </li>
                                </ul>

                                <br/>
                                <br/>

                            </div> 
                        </div>
                           
                    </div>
                </div>
            </div>
</div>
        
