<div class="container global-background">
        <br/>
            <div class="row">
                    <div class="text-white col-sm-4"
                        style="margin-bottom: 0 !important; padding-bottom: 0 !important;">
                        <div style="margin-left: auto; margin-right: auto; color: black">
                            <div class="card-title mb-5 extra-large-font page-title what-to-bring">
                                <span>
                                    What to bring in your first visit?
                                </span>
                            </div>
                            <div>
                                <ul>
                                <li>Past Medical Records</li>
                                <li>Current and Past Medical List</li>
                                <li>Current Medication Bottle</li>
                                <li>Discharge summary from hospital or previous providers</li>
                                </ul>
                            </div>
                        </div> 
                    </div>

                    <div class="col-sm-4">
                        <div class="col-xs-12 page-title mb-80 extra-large-font">
                            Psychiatrists
                        </div>
                        <div class="avatar col-sm-6 firstImage" style="float: left">
                            <img src="assets/images/madan_uprety.jpg">
                            <div class="doc_name">Madan Uprety M.D</div>
                            <div><a [routerLink]="['/madan-uprety']" class="link-text">More Info</a></div>
                        </div>
                        <div class="avatar col-sm-6 secondImage" style="float: right">
                            <img src="assets/images/doctor.jpg">
                            <div class="doc_name">Samina Raja M.D</div>
                            <div><a [routerLink]="['/samina-raja']" class="link-text">More Info</a></div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        
                        <div class="card">
                            <div class="card-content">
                                <div class="card-header-blue">
                                    <div class="card-heading pt-15 pb-15 medium-font" >First Initial Visit</div>
                                </div>
                                <div class="card-body">
                                <div class="card-p card-header-body pb-15 oblique-font white-background">
                                        <br/>
                                       45 Min Session
                                       <br/>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-15 mb-15">
                            <div class="card-content">
                                <div class="card-header-blue">
                                    <div class="card-heading pt-15 pb-15 medium-font" >Follow-Up Visit</div>
                                </div>
                                <div class="card-body">
                                <div class="card-p card-header-body oblique-font pb-15 white-background">
                                    <br/>
                                    15-30min Session
                                    <br/>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
</div>
        