<br/>
<br/>
<div class="card">
  <img class="card-img-top hiring-img" src="assets/images/jobs-hiring.jpg" alt="Card image cap">
  <div class="card-block global-background">
    <div class="card-text text-left text-justify">
        Due to continued growth, My Psychiatrist, PLC is looking for a Recruiter to join our team. 
        The primary focus of this position is to work proactively ensuring recruiting goals are met by 
        attracting and hiring physicians for our telemedicine branch. 
        Our goal is that the Recruiter position advances to become our Director of Recruiting. 
        This is an exciting opportunity for a self-motivated, energetic individual that thrives on 
        networking, and enjoys the challenge of finding talent. My Psychiatrist has a great team, 
        forward thinking vision, and an aggressive plan for growth. Compensation includes a base salary 
        and a solid commission schedule with the opportunity to make over 100K. Serious candidates only 
        need apply.
        <br/>
        <div class="text-center medium-font"><strong>Job Requirements</strong></div>
        <br/>
        <div class="text-center">
        A minimum of 3-5 years previous experience successfully recruiting physicians
        <br/>
        Great communication skills; both in speaking to others professionally and in writing letters, 
            job postings, marketing materials, etc
        <br/>
        Ability to proactively recruit candidates; outbound calling, attending local meetings, job fairs, 
            recruiting events, and other networking events as necessary
        <br/>
        Develop and maintain relationships with professional organizations and other sources of applicant 
            referral
        <br/>
        Recruiting experience utilizing social media
        <br/>
        Ability to create and maintain client and customer database using CRM
        <br/>
        Track and report key recruiting metrics
        <br/>
        A completed Bachelor’s degree, advanced degrees are preferable
        </div>
    </div>
  </div>
</div>

