<div class="container">

            <div class="row">
                <div class="col-md-12 pl-0 pr-0">
                    <div class="card global-background">
                        <div class="text-white text-center d-flex align-items-center"
                            style="margin-bottom: 0 !important; padding-bottom: 0 !important;">
                            <div style="margin-left: auto; margin-right: auto; color: black">
                                <h1 class="card-title pt-3 mb-5 font-bold page-title">
                                  <strong>TMS - Transcranial Magnetic Stimulation</strong>
                                </h1>
                                <div>My Psychiatrist is accepting new Transcranial Magnetic Stimulation patients. TMS therapy uses 
                                  highly-focused magnetic pulses to stimulate the areas of the brain known to control mood. 
                                  The pulsed magnetic field may have a positive effect on the brain’s neurotransmitter levels. 
                                  Treating depression with TMS therapy provides a breakthrough depression treatment for those who 
                                  have not been satisfied with the results they have had with antidepressant drugs.
                                </div>

                                <div class="mt-30">
                                  My Psychiatrist has partnered with Greebrook TMS centers to provide TMS Therapy in Reston 
                                  and Ashburn. Please watch the patient education video below and visit our site.

                                  <div><a style="color: blue" target="_blank" href="http://tmsneuro.com/locations/reston/">Greenbrook TMS Center Reston»</a></div>
                                  <div><a style="color: blue" target="_blank" href="http://tmsneuro.com/locations/ashburn/">Greenbrook TMS Center Ashburn»</a></div>
                                </div>

                                <h1 class="card-title pt-3 mb-5 font-bold page-title">
                                  <strong>The benefits of TMS Therapy include:</strong>
                                </h1>

                                <ul>
                                  <li>No drug related side effects such as weight gain, sexual problems, stomach problems, sleepiness or</li>
                                  <li>No sedation required, you are awake and alert during treatment and can even drive yourself home or to work immediately following treatment</li>
                                  <li>Nothing enters your body or your bloodstream</li>
                                  <li>2 in 3 patients reported reduction in depression scores at the end of the acute phase of TMS Therapy</li>
                                  <li>Significant cost savings relative to There have been many studies and clinical trials involving TMS therapy over</li>
                                </ul>

                                <h1 class="card-title pt-3 mb-5 font-bold page-title">
                                  <strong>Recently, in open-label clinical trials:</strong>
                                </h1>

                                <ul>
                                  <li>1 in 2 patients suffering with depression improved significantly,</li>
                                  <li>1 in 3 patients were completely free of depression symptoms after six weeks of treatment.</li>
                                </ul>

                                <iframe allowfullscreen="" frameborder="0" height="315" src="//www.youtube.com/embed/u203wWwe04Y" width="560"></iframe>
                                
                            </div> 
                        </div>
                           
                    </div>
                </div>
            </div>

            <!--Jumbotron-->
            <div class="jumbotron" style="display: none">

                <h1 class="h1-reponsive mb-3 blue-text"><strong>Hello, world!</strong></h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                    to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger
                    container.
                </p>
                <p class="lead">
                    <a class="btn btn-cyan btn-lg" href="#" role="button">Learn more</a>
                </p>

            </div>
</div>
        
