<div class="container">
    <div class="row mb-4">
        <div class="col-md-12 pl-0 pr-0">
            <div class="card global-background">
                <div class="text-white text-center d-flex align-items-center "
                    style="margin-bottom: 0 !important; padding-bottom: 0 !important;">
                    <div style="margin-left: auto; margin-right: auto; color: black">
                        <h1 class="card-title pt-3 mb-5 font-bold page-title">
                            <strong>Patient Resources</strong>
                        </h1>
                        <div class="text-left pl-15  pr-15">
                            We provide this list of additional resources without endorsement or guarantee, 
                            but as a guide for where to start for patients and families seeking additional 
                            resources for their questions. No website can take the place of actual medical advice. 
                            If we can answer any questions for you or be of further assistance, be sure to contact us.
                        </div>

                        <ul class="mt-15 pl-40">
                            <li><a href="http://suicide.com/suicidecrisiscenter/whattoexpect.html" target="_blank">Suicide Crisis Center Hotline</a></li>
                            <li><a href="http://www.nami.org/Template.cfm?Section=Your_Local_NAMI&amp;Template=/CustomSource/LocalDetail.cfm&amp;localID=0000000229&amp;fromHL=no&amp;state=VA" target="_blank">National Alliance on Mental Illness-Reston, VA branch - Peer to peer and family to family contacts</a></li>
                            <li><a href="http://www.helpguide.org/" target="_blank">HELPGUIDE.org - a non-profit trusted resourse to educate, challenge and offer support to those struggling with mental illnesses and addiction</a></li>
                            <li><a href="http://www.webmd.com/depression/slideshow-depression-overview" target="_blank">Understanding Depression</a></li>
                            <li><a href="http://www.nimh.nih.gov/health/topics/anxiety-disorders/index.shtml" target="_blank">Anxiety disorders, OCD, PTSD and Phobias</a></li>
                            <li><a href="http://en.wikipedia.org/wiki/Psychosis" target="_blank">Psychosis, hallucinations, delusion and thought disorders</a></li>
                            <li><a href="http://www.nami.org/sstemplate.cfm?section=SchizophreniaSurvey" target="_blank">Schizophrenia: Public Attitude and Personal Needs</a></li>
                            <li><a href="http://mentalhealth.samhsa.gov/" target="_blank">National Mental Health Information Center</a></li>
                            <li><a href="http://www.hazelden.org/web/landing.view" target="_blank">Learn about alcohol and drug addition</a></li>
                            <li><a href="http://www.nami.org/Template.cfm?Section=Research&amp;Template=/ContentManagement/ContentDisplay.cfm&amp;ContentID=16576" target="_blank">Managing Pregnancy and Bipolar Disorder</a></li>
                            <li><a href="http://www.chadd.org/" target="_blank">Understand ADHD and find support</a></li>
                            <li><a href="pregnancy_and_depression-fact_sheet.pdf" target="_blank">Pregnancy and Depression: Fact Sheet</a></li>
                        </ul>
                    </div> 
                </div>
                    
            </div>
        </div>
    </div>
</div>

<br/>

<br/>

<br/>

<br/>
        
