<div class="card mr-15">
  <img class="card-img-top" src="assets/images/convenience.png" alt="Card image cap">
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-left"><strong>Forms</strong>
        When you arrive at our clinic for the first time you will be required to fill out several forms. 
        To expedite your waiting time you may choose to complete these before your appointment and bring with 
        you when you arrive.
        <ul>
          <li><a href="forms/New_Client_Forms_My_Psychiatrist.pdf" target="_blank">Patient Intake Form</a></li>
        </ul>
    </li>
    <li class="list-group-item text-left">
      <strong>When You Arrive</strong>
        We ask that you show up 20 minutes before your scheduled appointment. When you do, make sure 
        to have the following with you:
        <ul>
          <li>Any medications or herbal supplements that you are currently taking Your insurance card</li>
          <li>Your photo ID, such as a driver's license or passport</li>
          <li>Any previous medical or laboratory records</li>
        </ul>   
    </li>
    <li class="list-group-item text-left">
      <strong>Clinic Policy</strong><br/>
      Please review the following documents to understand our clinic policy and procedures:
        <ul class="text-left">
          <li><a href="policy-cancel.html">Cancellation Policy</a></li>
          <li><a href="policy-financial.html">Financial Policy</a></li>
          <li><a href="policy-privacy.html">Notice of Privacy Practices</a></li>
        </ul>
    </li>
  </ul>
</div>