.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}
ul li{
    text-align: left;
}
.avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.three-side-design{
    border-left: 4px solid lightseagreen;
    border-right: 4px solid lightseagreen;
    border-bottom: 4px solid lightseagreen;
}

.avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.firstImage{
    margin-bottom: 25px;
}

.secondImage{
    margin-bottom: 25px;
}

.thirdImage{
    margin-bottom: 25px;
}

.pl-0{
    padding-left: 0;
}
 
.pr-0{
    padding-right: 0;
}

.doc_name{
    color: black;
}

@media(max-width: 767px){
    ul{
        padding-left: 0;
    }
}
