<div class="container">

  <div class="row">
      <div class="col-md-12 pl-0 pr-0">
          <div class="card global-background">
              <div class="text-white text-center d-flex align-items-center"
                  style="margin-bottom: 0 !important; padding-bottom: 0 !important;">
                  <div class="three-side-design" style="margin-left: auto; margin-right: auto; color: black">
                      <h1 class="card-title mb-5 font-bold page-title">
                        <strong>Testimonials</strong>
                      </h1>
                      <div class="text-left pl-15 pr-15 mb-30">December 1, 2012</div>
                      <div class="text-left pl-15 pr-15 mb-30">
                          Dr. Uprety not only listened to my concerns, he has prescribed and manged my 
                          care with a medical explanation as to why I am feeling the way I do after such 
                          a stressful mid-life event. He is also very cautious as to the medical contradictions 
                          associated with adjuvant cancer therapy. Further, I am writing letter because it is 
                          my sincere belief that Dr. Uprety is eminently qualified to treat all types of 
                          psychiatric conditions for patients of all ages. He has made a great impact in my life,
                           to continue living with quality of life, and that means a great deal to me and my family.
                          <br>
                          <br>
                          Lastly, Dr. Uprety is a highly dedicated professional who knows how to motivate his patients 
                          to strive for excellence in their care with consultation, and motivation for continued 
                          treatment. Dr. Uprety is a dynamic and powerful communicator who possesses the gift of being 
                          able to make the complex matter of Psychiatry understandable to the patient and their family. 
                          In spite of these formidable gifts, he is a humble and approachable person who loves to share 
                          his extensive knowledge with others, his patients in particular.
                          <br>
                          <br>
                          Dr. Uprety has played a major role in helping me continue not only living my life as a mother 
                          of three, with continued career success, but has given me the motivation to continue my 
                          education to help pthers with cancer achieve their goals. If you know anyone who may need help 
                          during this holiday season, please refer them to his office. It may change their life, in which 
                          others will be grateful.
                          <br>
                          <br>
                          Wishing you the Seasons Best, Health, and Peace,
                          <br>
                          <br>
                          <i>T.M.S<i> </i></i>  
                      </div>      
                  </div> 
              </div>
                  
          </div>
      </div>
  </div>
</div>
        
