<div class="global-background">
  <div class="row pl-30 pr-30 text-left">
    
    <img src="assets/images/madan_uprety.jpg" 
      style="border-radius: 50%; margin-left: auto; margin-right: auto" 
      class="img-circle mt-15" alt="Cinque Terre" width="304" height="236"/>

      <br/>
      <br/>
      
      
      
      <div class="mb-15 mt-15">
        <div class="text-center page-title extra-large-font mt-15 mb-15">Madan Uprety, MD</div>

        <div class="mb-15">
            <strong class="medium-font page-subtitle">Introduction</strong><br/>
            Madan Uprety, MD is currently the medical director at the inpatient unit of Adventist 
            Behavioral Health, Assistant Professor at Howard University School of Medicine, and CEO and 
            President of My Psychiatrist PLC. Dr. Uprety has extensive in-patient and outpatient 
            psychiatry “real world” clinical experience treating thousands of patients in rural and 
            urban areas.  His compassion for the patient combined with his efficient and effective 
            practice methods make him a clinician both patient and administration truly value.
        </div>

        <div class="mb-15">
            Dr. Uprety is not only an outstanding clinician, efficient researcher and talented teacher, 
            but he is always fascinated with entrepreneurial evolvement.  His entrepreneur spirit has 
            spanned decades as evident by the educational institute he established and ran in Nepal at 
            the age 19,  the half dozen organizations he ran by the time he graduated from Medical School 
            at 25. 

        </div>

        <div class="mb-15">
            He is currently leading a team to develop tele-psychiatry model to help mental health clinics 
            and individual patient residing at rural communities.
            Dr. Uprety received a recognition as one of the 15 most talented students in the nation and 
            awarded to receive an opportunity for 6 years medical education with full scholarship.  
            He published textbook “Essentials of MBBS (Bachelor of Medicine and Bachelor of Surgery) 
            entrance examination” while he was studying medicine in Kathmandu, Nepal.  
        </div>

        <div class="mb-15">
            <strong class="medium-font page-subtitle">Education and Training</strong><br/>
            He was a chief resident at his fourth year of psychiatry residency training at Brookdale 
            University Medical Center, Brooklyn, NY. As a chief resident, he provided leadership to 20 
            resident psychiatrist fostering their training and maturity. 
        </div>

        <div class="mb-15">
                <strong class="medium-font page-subtitle">Recognition</strong><br/>
                Dr. Uprety has presented on a spectrum of clinical and business forum nationally and 
                internationally. His vast professional experience dealing with people across the world 
                has made him a placid human.
            
        </div>
</div>