<div class="container global-background">
  <br/>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <p>
      We provide personal and effective mental health services to the residents of Northern Virginia from our local clinic located in Reston, VA. We also provide mental health services to rural and underserved areas through our telehealth networks.
    </p>

    <p>
      No two people are alike so My Psychiatrist gives special attention to individual clients and tailors treatment based on unique factors such as background, family situations, and expectations.
    </p>

    <p>
      My Psychiatrist has years of experience treating individuals with various forms of mental health issues. We find great fulfillment in helping individuals during their difficult time of life through close attention and careful monitoring. Our expert physicians manage medication judiciously to maximize its efficacy and simplify the regimen to keep side effects and unnecessary exposure at a minimum. 
    </p>

    <p>
      To find additional information and help with mental health issues, please click here for helpful links to trusted resources.
    </p>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 side-card" 
      style="border: 1px solid powderblue; color: #86263b">
      <ul class="text-left">
        <li>Stress Due to Work or Relationships</li>
        <li>Family Issues</li>
        <li>ADHD (Attention Deficit Hyperactive Disorder)</li>
        <li>Anxiety Disorder</li>
        <li>Panic Disorder</li>
        <li>PTSD</li>
        <li>Depression</li>
        <li>Eating Disorders</li>
        <li>Bipolar Disorder</li>
        <li>Substance Related Issues</li>
        <li>Psychotic Disorder</li>
      </ul>
  </div>
  <br/>
</div>