<div class="global-background">
  <div class="row pl-30 pr-30 text-left">
    
    <img src="assets/images/RaufDean.jpg" 
      style="border-radius: 50%; margin-left: auto; margin-right: auto" 
      class="img-circle mt-15" alt="Cinque Terre" width="304" height="236"/>

      <br/>
      <br/>
      
      <div class="mb-15 mt-15">
        <div class="text-center page-title extra-large-font mt-15 mb-15">Rauf Dean, NP</div>

        <div class="mb-15">
            <strong class="medium-font page-subtitle">Introduction</strong><br/>
            Rauf Dean, NP joined the staff at My Psychiatrist, PLC in July of 2017. He has a B.S. N. 
            from the Shenandoah University.  He also has a Master’s degree in Nursing Science from 
            Wilmington University. 
            <br/><strong class="medium-font page-subtitle">Experience</strong><br/>
            He has done extensive work in the areas of family medicine, long-term 
            geriatric care, occupational medicine, urgent care, and walk-in clinics. Rauf worked in these 
            areas for over 10 years. He is proud to share his background in the United States Navy.  
            Rauf was excited to transition into the psychiatric field here at My Psychiatrist. He has a 
            keen interest in treating patients who present with depression, anxiety, other mood disorders, 
            and ADHD. 
        </div>
</div>