<div class="global-background">

    <br/>
  <div class="row">
    <div class="col-sm-8">
      
      <div class="text-left pl-15">
        <h1>Cancellation and Reschedule Policy</h1>
        <br>
        MY PSYCHIATRIST does not overbook appointments, a specific time slot is allocated for your appointment. Your clinician and other patients are directly affected if you fail to show up for your scheduled appointment or show up late. Every effort is made to see you on time and if you do not come in or cancel in a timely manner, your clinician loses that income and cannot effectively fill that appointment time.
        <ul>
            <li>All appointments must be canceled within 48 hours (not including weekend) prior to the scheduled appointment.</li>
        </ul>
      
        <ul>
          <li>Failure to do so will result in a missed appointment charge. The charges are as follows:
          <ul>
            <li>$80.00 for psychiatrists (M.D.), Nurse Practitioner, Physician assistant or psychologists (Psy. D.)</li>
            <li>$80.00 per scheduled unit of psychological testing, 3 units would be $240.00</li>
            <li>$80.00 for master level therapists</li>
          </ul>
          </li>
        </ul>
        
        <ul>
          <li>There will be charged for a missed appointment if you arrive 20 or more minutes late for an appointment.</li>
        </ul>


        <ul>
          <li>If you arrive for an appointment without the proper co-pay, you will be assessed a $10.00 administrative fee to cover the additional administrative cost to the practice.</li>
        </ul>


        <ul>
          <li>It is your responsibility to check the appointment card at the time that it is issued to verify the proper date and time are listed on the card. MY PSYCHIATRIST, PLC will not waive a missed appointment fee because of an error on a card. My Psychiatrist will send courtesy reminder email or phone call 1-2 days prior to appointment day. It is however your responsibility to remember your appointment.</li>
        </ul>

        <ul>
          <li>In the event of snow or inclement weather you may cancel an appointment with less than the required notice if the Fairfax County government (not the school) is closed and if you call to cancel appointment PRIOR to the appointment time.</li>
        </ul>
        <br>
      </div>

    </div>

    <div class="col-sm-4">
      <app-side-notice></app-side-notice>
    </div>
  </div>
      
    <br/>

</div>
